/* @import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap"); */
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/bg/backgroun1.png");
  /* background-image: url("/bg/backgroun1.png"); */
}
.random {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  background-color: #c10b72;
  /* background: linear-gradient(#e66465, #9198e5); */
  /* background-image: url("/bg/background.gif"); */
  border-color: black;
  border-width: 5px;
  justify-content: center;
  width: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40%;
  border-radius: 20px;
  filter: drop-shadow(0 0 0.75rem #15325a);
}
.random p {
  font-style: normal;
  /* font-family: "Pixelify Sans", sans-serif; */
  font-family: cursive;
  font-size: 100px;
  font-weight: bolder;
  color: #ffe7f4;
  text-shadow: 2px 2px #af3089;
}

.random h1 {
  height: 80px;
  text-align: center;
  color: #ffe7f4;
  font-family: cursive;
  font-size: 40px;
  text-shadow: 2px 2px gray;
}

button {
  margin-top: 30px;
  width: 120px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  height: 50px;
  font-size: larger;
  font-weight: bolder;
  box-shadow: 3px 3px 3px;
  background-color: #af3089;
  color: black;
}

button:hover {
  background-color: aqua;
  cursor: pointer;
}
